.nav {
    width: 100px;
    height: 50px
}
.card{
   width: 175px;
   flex: 0 0 auto;
   display: flex;
   flex-direction: column;

}

.card_img{
    width:200px;
    border-radius: 9px;
}
.card--stats{
    display: flex;
    align-items: center;
}